* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    color: white;
    background-color: rgb(25, 170, 253);
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.box {
    border: 1px solid black;
    color: white;
    cursor: pointer;
}


